<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Thanks for using RUIn!</p>
	<br>
	<p>You're scheduled to join {{hostName}} on {{startTime}} to play:</p>
	<p>{{gameName}}</p>
	<img src="{{gameIcon}}"/>
	<br>
	<p>To view the room, make comments, or change your status:</p>
	<p><a href="{{roomLink}}">{{roomLink}}</a></p>
	<br>
	<p>We've provisioned a temporary account if you wish to change your settings in the near future.</p>
	<p>username: {{username}}</p>
	<p>password: {{password}}</p>
	<br>
	<p>Also, have a look around the site. There's plenty here to help you coordinate games with your friends and even find new friends to play with.</p>
	<br>
	<p>Thanks,</p>
	<p>The {{appName}} Support Team</p>
</body>
</html>