<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<div style="background-color:#F0F0F0;font-family:Arial,Helvetica,sans-serif;margin:0;padding: 30px 0;width:100%">
		<table style="width: 80%; max-width: 700px; margin:auto; border-radius: 30px; background-color: #fff; padding: 35px 25px">
			<tbody>
				<tr>
					<td style="text-align: center; font-size: 24px;">RUIn - Unsubscribed</td>
				</tr>
				<tr>
					<td style="text-align: center; padding-top: 15px;font-size: 13px;">
						<b>You've unsubscribed from the following setting: <p></p>
						{{subscribedToSetting}}
						</b><p></p>
					</td>
				</tr>
				<tr>
					<td style="text-align: center; padding-top: 25px;font-size: 12px; color: #ACACAC">To modify your other subscription settings, go to your profile and click on the settings tab:</td>
				</tr>
				<tr>
					<td style="text-align: center; font-size: 12px; color: #ACACAC"><a href="{{domain}}/#/profile">{{domain}}/#/profile</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>